/* Nabar CSS */

.navbar {
    font-size: 18px;
    color: white;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link{
    padding: 0 20px;
    color: white;
    transition: 0.3s ease;
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link:hover,
  .navbar-light .navbar-nav .nav-item .nav-link.active {
    color: coral;
  }
  
  .navbar i:hover,
  .navbar i.active {
    color: lightblue;
  }
  
  .navbar i {
    font-size: 21px;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s eae;
    color: coral;
  }
  
  #nav-icons {
    margin-left: 45px;
    margin-right: 50px;
  }
  /* Mobile Nav */
  .navbar-light .navbar-toggler {
    border: none;
    outline: none;
  }
  
  #nav-bar-icon {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s ease;
  }
  #nav-bar-icon:hover,
  #nav-bar-icon .active {
    color: lightblue;
  }
  @media only screen and (max-width: 991px) {
    body > nav > div > button:hover,
    body > nav > div > button:focus{
      background-color: coral;
    }
    body > nav > div > button:hover #nav-bar-icon,
    body > nav > div > button:focus #nav-bar-icon{
      color: lightblue;
    }
    
    #nav-icons {
      margin: 0px;
    }
  
    #navbarSupportedContent > ul{
      margin: 1rem;
      justify-content: flex-end;
      align-items: right;
      text-align: right;
    }
    
    #navbarSupportedContent > ul > li:nth-child(n) > a{
      padding: 10px 0px;
    }
  }
  #logo-img {
    height: 80px;
    width: 220px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 20px;
  }
  
/* Home Section CSS */

#home span {
    color: coral;
  }
  
  #home {
    background-image: url('images/img1.avif');
    width: 100%;
    height: 100vh;
    background-position: top 200px center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #home-bg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 40, 39, 0.283);
    height: top 70vh;
    border-radius : 20px;
    padding: 60px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  }
  
  
  .text-container {
    padding: 20px;
    color:aliceblue;
    font-size: 18px;
    font-weight: 500;
  }
  
  #home button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border-radius: 2px;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
  }
  
  #home button:hover {
    background-color: coral;
  }
  /* Product images section */

#new .one img{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#new .one .details {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}

#new .one:hover .details {
  cursor: pointer;
  background-color: rgba(245, 178, 178, 0.31);
  h2 {
    color: black;
  }
}

#new .one .details h2 {
  color: aliceblue;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

#new .one .details button {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: aliceblue;
  background: none;
  text-transform: uppercase;
  border-bottom: 2px solid #2a2a2a;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 3px;
  transform: translateY(20px);
  transition: 0.3s ease;
}

#new .one .details button:hover {
  color: Black;
  border-bottom: 2px solid white;
}

#new .one:nth-child(1) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

#new .one:nth-child(2) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#new .one:nth-child(3) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}
/* services section icons */
.bi-cart , .bi-award, .bi-tags , .bi-shield-check {
    font-size: 1.5rem;
    color: coral;
    transition: 0.3s ease;
  }
  
  .bi-cart:hover , .bi-award:hover, .bi-tags:hover, .bi-shield-check:hover {
    font-size: 1.5rem;
    color: lightblue;
    transition: 0.3s ease;
  }
  
  
  /* Featured Product section */
  .border {
    width: 40px
  }
  #featured h5 {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 1rem 0;
  }
  .product-price {
    color: gray;
    font-size: 18px;
    font-weight: 400;
    margin: 1rem 0;
  }
  .buy-btn{
    background-color: black;
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border-radius: 2px;
    border: none;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
  }
  
  .buy-btn:hover {
    background-color: coral;
  }
  
  .product {
    cursor: pointer;
    font-size: 2rem;
  }
  
  .product img {
    transition: 0.3s all;
    width: 100%;
    height: 70%;
    object-fit: contain;
  }
  
  .product:hover img {
    opacity: 0.7;
  }
  
  .product .buy-btn {
    background-color: black;
    transform: translateY(20px);
    opacity: 0;
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border-radius: 2px;
    border: none;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
  }
  
  .product:hover .buy-btn {
    transform: translateY(0px);
    opacity: 1;
  }
  
  .star {
    padding: 10px 0;
  }
  
  .star i{
    font-size: 0.8rem;
    color: goldenrod;
  }
  
  #banner {
    background-image: url('images/home_img_1.jpg');
    width: 100%;
    height: 60vh;
    background-position: top 70px center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #banner h4{
    color: coral;
    font-weight: 400;
  }
  
  #banner h1 {
    color: aliceblue;
    font-weight: 600;
  }
  
  #banner button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border-radius: 2px;
    border: none;
    background-color: coral;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    margin-top: 15px;
  }
  