/* Nabar CSS */

.navbar {
    font-size: 18px;
    color: white;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link{
    padding: 0 20px;
    color: white;
    transition: 0.3s ease;
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link:hover,
  .navbar-light .navbar-nav .nav-item .nav-link.active {
    color: coral;
  }
  
  .navbar i:hover,
  .navbar i.active {
    color: lightblue;
  }
  
  .navbar i {
    font-size: 21px;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s eae;
    color: coral;
  }
  
  #nav-icons {
    margin-left: 45px;
    margin-right: 50px;
  }
  /* Mobile Nav */
  .navbar-light .navbar-toggler {
    border: none;
    outline: none;
  }
  
  #nav-bar-icon {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s ease;
  }
  #nav-bar-icon:hover,
  #nav-bar-icon .active {
    color: lightblue;
  }
  @media only screen and (max-width: 991px) {
    body > nav > div > button:hover,
    body > nav > div > button:focus{
      background-color: coral;
    }
    body > nav > div > button:hover #nav-bar-icon,
    body > nav > div > button:focus #nav-bar-icon{
      color: lightblue;
    }
    
    #nav-icons {
      margin: 0px;
    }
  
    #navbarSupportedContent > ul{
      margin: 1rem;
      justify-content: flex-end;
      align-items: right;
      text-align: right;
    }
    
    #navbarSupportedContent > ul > li:nth-child(n) > a{
      padding: 10px 0px;
    }
  }
  #logo-img {
    height: 80px;
    width: 220px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 20px;
  }
  
/* Home Section CSS */

#home span {
    color: coral;
  }
  
  #home {
    background-image: url('images/img1.avif');
    width: 100%;
    height: 100vh;
    background-position: top 200px center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #home-bg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 40, 39, 0.283);
    height: top 70vh;
    border-radius : 20px;
    padding: 60px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  }
  
  
  .text-container {
    padding: 20px;
    color:aliceblue;
    font-size: 18px;
    font-weight: 500;
  }
  
  #home button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border-radius: 2px;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
  }
  
  #home button:hover {
    background-color: coral;
  }
  